body {
  background-color: #2F4F4F;
  background-position: 50% 50%;
  font-family: "Comic Sans", sans-serif;
}

h1 {
  color:#8B0000;
  font-size:5em;
  font-family: "Times", serif;
  position: relative;
  left: 200px;
}

p { 
 font-size: 2em;
 ;
 
}

img {
	width: 300px;
	height: 350px;
    position: relative;
    left: 400px;
  
}
