body {
  background-color: #2F4F4F;
  background-position: 50% 50%;
  font-family: "Comic Sans", sans-serif;
  cursor:
}

h1 {
  color:#8B0000;
  font-size:5em;
  font-family: "Times", serif;
  position: relative;
  left: 200px;
  border-width: 2px;
  border-style: ridge;
  border-color: black;
  border-top-left-radius: 14px;
  border-top-width: thin;
}

p { 
 font-size: 2em;
 position: relative;
 left: 250px;
 
}

img {
	width: 300px;
	height: 350px;
    position: relative;
    left: 400px;
  cursor: url(http://images.toucharger.com/img/graphiques/curseurs/argent/symboles/dollar.16988.gif), pointer; 
  border-width:6px;
  border-style:groove;
  border-color:red; 
}

a {
  color: #000000;
 
}


